# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Large Model Files (GitHub limit is 100MB)
*.pth
*.h5
*.model

# Datasets
dataset/
ct_dataset/
raw_data/
classified_dataset/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
